# Dependencies
node_modules/

# Build output
dist/

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Temp files
nul
